/*
 *  Stock Light theme for Microwave.js
 *  https://github.com/tstone/MicrowaveJS
 *
 *  Inspired by Vignelli theme by Robbie Manson
 *  http://www.robbiemanson.com/resources/vignelli-minimal-tumblr-theme/
 */

/* ==|== blog styles ======================================================== */

* { box-sizing: border-box; }
html, body { height: 100%; }
body { font-family: 'Open Sans', sans-serif; letter-spacing: -0.05em; }
h1, h2, h3, h4 { font-weight: 700; letter-spacing: -0.075em; }
h1 a, h2 a, h3 a, h4 a { text-decoration: none; }
a { color: #444; }
a[href^="http"]:after { display: inline-block; margin-left: 2px; content: "D"; font-family: 'WebSymbolsRegular'; font-size: 10px; }
#dsq-comments a:after { display: none; }
a:visited { color: #333; }
a:hover { color: #D53C2E; }

/* Header */
header { border-bottom: solid 1px #eee; padding: 20px 0; }
header h1 { color: #D53C2E; text-transform: lowercase; width: 20%; float: left; font-size: 16px; margin: 0; }
header h1 a { color: #D53C2E; }
header h1 a:hover { text-decoration: underline; }
header h1 a:visited { color: #D53C2E; }
header .desc { margin-left: 20%; font-size: 13px; display: block; line-height: 26px; }
header a.rss { text-transform: lowercase; text-decoration: none; color: #D53C2E; font-size: 12px; position: absolute; top: 25px; right: 1px; }
header a.rss .websymbols { text-transform: none; font-size: 10px; margin-left: 3px; float: right; }
header a.rss:hover { text-decoration: underline; }

/* Body */
.wrapper { width: 960px; margin: 0 auto; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -15px; position: relative; padding-bottom: 40px; }
.post pre { margin-left: 15px; }
ul.tags { padding: 0; margin: 8px 0; }
ul.tags li { display: inline-block; border: solid 1px #eee; padding: 3px 5px; font-size: 11px; margin-right: 4px; color: #ccc; line-height: 14px; }
ul.tags li a { color: #ccc; text-decoration: none; }
aside.left { position: absolute; top: 90px; left: 0; width: 16%; }
aside.right { position: absolute; top: 90px; right: 0; width: 16%; }
nav.pagination { margin: 30px 20%; min-height: 30px; }
nav.pagination a { text-decoration: none; color: #777; }
nav.pagination a .websymbols { font-size: 12px; line-height: 16px; position: relative; top: -2px; color: #D53C2E; }
nav.pagination a.prev { float: right; }
nav.pagination a.next .websymbols { margin-right: 5px; }
nav.pagination a.prev .websymbols { margin-left: 5px; }

/* Footer */
footer { height: 15px; position: absolute; bottom: 10px; right: 0; text-align: right; }
footer a[href^="http"]:after { font-size: 8px; }

/* Index Page */
body.index article { margin: 20px 20% 0 20%; position: relative; padding-bottom: 20px; border-bottom: solid 1px #eee;  }
body.index article h2 { margin-bottom: 0; }
body.index article .date { font-size: 11px; display: block; margin-top: -2px; margin-bottom: 1px; }
body.index article ul.tags { float: right; margin: -15px 0 0 0; }
body.index article a.comments { font-size: 11px; display: block; color: #bbb; min-height: 15px; }
body.index article a.comments[href^="http"]:after { display: none; }

/* Post Page */
body.post article { margin: 0 20%; position: relative; font-size: 14px; line-height: 25px; }
body.post article h1 { line-height: 38px; }
body.post article pre { line-height: 18px; }
body.post article img { width: 100%; }
body.post article h2 { margin-top: 40px; }
body.post article h3 { margin-top: 30px; }
body.post article .date { display: block; position: absolute; top: 10px; left: -33%; font-size: 11px; color: #999; }
body.post article .tags { position: absolute; top: 25px; left: -33%; margin-left: -1px; width: 15%; }
body.post article .tags li { margin-bottom: 4px; }
body.post .wrapper nav { position: absolute; top: 101px; right: 0; width: 20%; text-align: right; font-size: 20px; margin-right: 0; }
body.post .wrapper nav a { text-transform: lowercase; text-decoration: none; color: #999; display: inline-block; margin-left: 2px; }
body.post .wrapper nav a:hover { color: #D53C2E; }
body.post aside.left { top: 150px; }
body.post aside.right { top: 150px; }

/* Error Pages */
body.error .error { margin: 0 20%; }


/* ==|== media queries ====================================================== */
/* Note: Sizes from Skeleton CSS Framwork - https://github.com/dhgamache/Skeleton/blob/master/stylesheets/layout.css */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.wrapper { width: 768px; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.wrapper { width: 100%; padding: 0 10px; }
	header h1 { float: none; width: auto; }
	header .desc { margin-left: 0; }
	header a.rss { top: 12px; right: 10px; }
	body.index article { margin: 20px 0 0 0; }
	body.post article { margin: 0; }
	body.post article h1 { margin: 30px 0 0 0; }
	body.post article .date { position: static; }
	body.post article .tags { position: static; margin: 0 0 30px 0; }
	body.post nav.post { position: static; font-size: 35px; }
	body.post .wrapper nav.post { text-align: left; }
	aside.left, aside.right { display: none; }
}
