- var query
form(action='/search', method='get')
	.input.string
		- if (query != null)
			input(type="text", name="q", placeholder="search here...", value="#{query}")
		- else
			input(type="text", name="q", placeholder="search here...")
	.form-actions
		button L