- var query = query || ''

.search
    .input.string
        input#search-box(type="text", name="q", placeholder="search this blog...", value="#{query}")
    .form-actions
        button#search-btn L
